@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
::-moz-selection {
  background: #235778;
  color: white;
}
::selection {
  background: #235778;
  color: white;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
*:focus {
  outline: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Winky Sans", sans-serif;
  margin: 0;
  color: #5E5F63;
}

a {
  color: #235778;
}

a, a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 130%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
p strong, p b {
  font-weight: 600;
  color: #26232A;
}

ul, ol, dl {
  margin-bottom: 1rem;
  list-style-position: outside;
  line-height: 130%;
}

body.front main.page-content {
  padding-top: 0px;
}

main.page-content {
  padding-top: 90px;
}

.title-dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 12px;
  margin: 0;
}

.title-dot:before {
  content: "";
  background-color: #235778;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
}

a.btn {
  padding: 8px 16px;
  border: 1px solid #F88E0A;
  border-radius: 15px;
  color: #ffffff;
  background-color: #F88E0A;
  font-size: 21px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  margin-top: 16px;
  text-transform: uppercase;
}

a.btn:hover {
  border: 1px solid #FFAB40;
  background: #FFAB40;
  color: #FAFAFA;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 8px 32px;
}

a.btn-2 {
  padding: 8px 16px;
  border: 1px solid #3A6B8A;
  border-radius: 15px;
  color: #235778;
  background-color: transparent;
  font-size: 21px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  margin-top: 16px;
  text-transform: uppercase;
}
a.btn-2 i {
  color: #235778;
}

a.btn-2:hover {
  border: 1px solid #235778;
  background-color: #235778;
  color: #3A6B8A;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 8px 32px;
}
a.btn-2:hover i {
  color: #3A6B8A;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  line-height: 150%;
  font-family: "Anton", sans-serif;
  word-spacing: 2px;
  letter-spacing: 2px;
  color: #26232A;
}
h1 strong, h1 b, h2 strong, h2 b, h3 strong, h3 b, h4 strong, h4 b, h5 strong, h5 b {
  font-weight: 600;
  color: #26232A;
}

h1 {
  font-size: 33px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 21px;
}

p {
  font-size: 21px;
  font-weight: 400;
  line-height: 130%;
}

section, .section {
  margin-top: 50px;
  margin-bottom: 50px;
}

section {
  scroll-margin-top: unset;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  background: #F8F7FC;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #EFEFEF;
  font-size: 18px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  color: #F88E0A;
}
.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
  background: #E1DDEF;
}

.content-button-go-top {
  display: none;
  position: fixed;
  z-index: 1003;
  right: 1em;
  bottom: -1em;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.content-button-go-top.visible {
  display: block;
  bottom: 1em;
}

h5.pretitle:before {
  content: "\f55d";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 0.5em;
}

h5.pretitle {
  color: #F88E0A;
  margin: 0;
}

.content-footer-by-mh {
  background-color: #F8F7FC;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #EFEFEF;
  border-color: #E1DDEF;
}
.content-footer-by-mh .container-footer-by-mh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.content-footer-by-mh .container-footer-by-mh p {
  font-size: 12px;
  margin: 0;
}
.content-footer-by-mh .container-footer-by-mh p a {
  color: #26232A;
}

.mensaje {
  padding: 15px 20px 15px 35px;
  word-wrap: break-word;
  border: 1px solid;
  border-width: 1px 1px 1px 0;
  border-radius: 2px;
  background: no-repeat 10px 17px;
  overflow-wrap: break-word;
}
.mensaje.status {
  color: #325e1c;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  background-color: #f3faef;
  background-image: url(/core/misc/icons/73b355/check.svg);
  -webkit-box-shadow: -8px 0 0 #77b259;
          box-shadow: -8px 0 0 #77b259;
}
.mensaje.error {
  color: #a51b00;
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
  background-color: #fcf4f2;
  background-image: url(/core/misc/icons/73b355/error.svg);
  -webkit-box-shadow: -8px 0 0 #e62600;
          box-shadow: -8px 0 0 #e62600;
}
.mensaje.warning {
  color: #734c00;
  border-color: #f4daa6 #f4daa6 #f4daa6 transparent;
  background-color: #fdf8ed;
  background-image: url(/core/misc/icons/73b355/warning.svg);
  -webkit-box-shadow: -8px 0 0 #e09600;
          box-shadow: -8px 0 0 #e09600;
}

@media (min-width: 768px) {
  h1 {
    font-size: 33px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 27px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 21px;
  }
  p, a.btn, a.btn-2 {
    font-size: 21px;
  }
  section {
    margin-top: 70px;
    margin-bottom: 70px;
    scroll-margin-top: -150px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 31px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 22px;
  }
  p, a.btn, a.btn-2 {
    font-size: 22px;
  }
  section {
    margin-top: 85px;
    margin-bottom: 85px;
    scroll-margin-top: 10px;
  }
  .content-button-go-top {
    right: 5em;
    bottom: -5em;
  }
  .content-button-go-top.visible {
    bottom: 5em;
  }
}
@media (min-width: 1367px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 33px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 27px;
  }
  h5 {
    font-size: 24px;
  }
  p, a.btn, a.btn-2 {
    font-size: 24px;
  }
  section {
    margin-top: 100px;
    margin-bottom: 100px;
    scroll-margin-top: 100px;
  }
}
@media (min-width: 1921px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 29px;
  }
  h5 {
    font-size: 26px;
  }
  p, a.btn, a.btn-2 {
    font-size: 26px;
  }
  section {
    margin-top: 115px;
    margin-bottom: 115px;
    scroll-margin-top: 110px;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 718px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 942px;
  }
}
@media (min-width: 1367px) {
  .container {
    max-width: 1317px;
  }
}
@media (min-width: 1921px) {
  .container {
    max-width: 1571px;
  }
}
header.content-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1003;
  height: 90px;
  border-bottom: 1px solid #EFEFEF;
  background: rgba(255, 255, 255, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  gap: 15px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
header.content-header .content-header-logo .container-header-logo img {
  width: auto;
  height: 100%;
  max-height: 75px;
}
header.content-header .content-header-logo .container-header-logo h1 {
  font-size: 24px;
  line-height: 0.6;
  white-space: nowrap;
}
header.content-header .content-header-logo .container-header-logo h1 a {
  color: #F88E0A;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
header.content-header .content-header-logo .container-header-logo h1 span {
  color: #FFAB40;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  font-size: 12px;
}
header.content-header #navigation {
  display: none;
}
header.content-header #navigation nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}
header.content-header #navigation nav ul li {
  list-style: none;
}
header.content-header #navigation nav ul li p {
  margin: 0;
  text-transform: uppercase;
}
header.content-header #navigation nav ul li p a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
header.content-header #navigation nav ul li p a:hover {
  text-decoration: underline;
  color: #fff;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
header.content-header #mobile-header p {
  margin: 0;
}

header.content-header.scrolling {
  background: rgb(255, 255, 255);
}
header.content-header.scrolling .content-header-logo .container-header-logo h1 a {
  color: #F88E0A;
}
header.content-header.scrolling .content-header-logo .container-header-logo h1 span {
  color: #235778;
}
header.content-header.scrolling #navigation nav ul li p a {
  color: #235778;
}
header.content-header.scrolling #navigation nav ul li p a:hover {
  color: #3A6B8A;
}
header.content-header.scrolling #navigation nav ul li.styled a {
  color: #fff;
}

@media (min-width: 1367px) {
  header.content-header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 60px;
  }
  header.content-header .content-header-logo .container-header-logo h1 {
    font-size: 32px;
  }
  header.content-header .content-header-logo .container-header-logo h1 span {
    font-size: 12px;
  }
  header.content-header #navigation {
    width: 100%;
    display: block;
  }
  header.content-header #navigation nav ul li.styled {
    margin-left: unset;
  }
  header.content-header #navigation nav ul li.styled a {
    color: #fff;
    border-color: #F88E0A;
    margin-top: 0;
  }
  header.content-header #navigation nav ul li.styled a:hover {
    color: #fff;
    background-color: #F88E0A;
  }
  header.content-header #mobile-header {
    display: none;
  }
}
@media (min-width: 1921px) {
  header.content-header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 60px;
  }
  header.content-header .content-header-logo .container-header-logo h1 {
    font-size: 36px;
  }
  header.content-header .content-header-logo .container-header-logo h1 span {
    font-size: 13px;
  }
  header.content-header #navigation {
    display: block;
  }
  header.content-header #mobile-header {
    display: none;
  }
}
footer .content-footer {
  border-top: 1px solid #EFEFEF;
  background: #F8F7FC;
  padding: 50px 0;
}
footer .content-footer .container-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}
footer .content-footer .container-footer .item-footer h3 {
  margin: 0 0 15px 0;
  color: #5E5F63;
}
footer .content-footer .container-footer .item-footer p a.btn {
  margin-top: 0;
}
footer .content-footer .container-footer .item-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .content-footer .container-footer .item-footer ul li a {
  color: #26232A;
}
footer .content-footer .container-footer-bottom {
  margin-top: 35px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}
footer .content-footer .container-footer-bottom .item-footer-rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .content-footer .container-footer-bottom .item-footer-rrss ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
footer .content-footer .container-footer-bottom .item-footer-rrss ul li p {
  margin: 0;
}
footer .content-footer .container-footer-bottom .item-footer-rrss ul li p a {
  font-style: normal;
  font-weight: 400;
  color: #F88E0A;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 46px;
  height: 46px;
  border: 1px solid #F88E0A;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .content-footer .container-footer-bottom .item-footer-rrss ul li p a:hover {
  background-color: #F88E0A;
  color: #FAFAFA;
}
footer .content-footer .container-footer-bottom .item-footer-logo-derechos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
footer .content-footer .container-footer-bottom .item-footer-logo-derechos img {
  width: 150px;
}
footer .content-footer .container-footer-bottom .item-footer-logo-derechos p.site-name a {
  color: #F88E0A;
}
footer .content-footer .container-footer-bottom .item-footer-logo-derechos p {
  margin: 0;
  color: #5E5F63;
}

@media (min-width: 1367px) {
  footer .content-footer {
    padding: 100px 0;
  }
  footer .content-footer .container-footer {
    -ms-grid-columns: 1fr 25px 0.5fr 25px 0.5fr;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-gap: 25px;
  }
  footer .content-footer .container-footer .item-footer h3 {
    margin: 0 0 50px 0;
  }
  footer .content-footer .container-footer-bottom {
    margin-top: 90px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  footer .content-footer .container-footer-bottom .item-footer-logo-derechos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
  footer .content-footer .container-footer-bottom .item-footer-logo-derechos img {
    width: 200px;
  }
}
#sidr-main {
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.05);
  border-right: none;
  font-family: "Winky Sans", sans-serif;
  z-index: 1003;
}
#sidr-main img {
  width: 55%;
  height: auto;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
#sidr-main h1 {
  background-color: #fff;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 150%;
  font-size: 16px;
}
#sidr-main h1 a {
  color: #F88E0A;
}
#sidr-main h1 span {
  font-size: 13px;
}
#sidr-main ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
#sidr-main ul li p {
  margin: 0;
}

#mobile-header p {
  width: 42px;
  height: 42px;
  background: #F8F7FC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}
#mobile-header p a {
  color: #26232A;
}

@media (min-width: 1367px) {
  .content-menu-mobile-header {
    display: none;
  }
}
.content-page-header {
  border-bottom: 1px solid #EFEFEF;
}
.content-page-header .container-page-header {
  position: relative;
}
.content-page-header .container-page-header .content-page-header-title {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 90%;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.content-page-header .container-page-header .content-page-header-title .container-page-header-title {
  border-radius: 15px;
}
.content-page-header .container-page-header .content-page-header-title .container-page-header-title h1, .content-page-header .container-page-header .content-page-header-title .container-page-header-title p {
  color: #fff;
  margin: 0;
  line-height: 100%;
}
.content-page-header .container-page-header .content-page-header-title .container-page-header-title h1 a, .content-page-header .container-page-header .content-page-header-title .container-page-header-title p a {
  color: #fff;
}
.content-page-header .container-page-header .content-page-header-title .container-page-header-title h1 span, .content-page-header .container-page-header .content-page-header-title .container-page-header-title p span {
  font-size: 21px;
}
.content-page-header .container-page-header .content-page-header-title .container-page-header-title p {
  margin-top: 20px;
}
.content-page-header .container-page-header .content-page-header-title .container-page-header-title .page-header-links {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}
.content-page-header .container-page-header .content-page-header-title .container-page-header-title .page-header-links p {
  margin: 0;
}
.content-page-header .container-page-header .content-page-header-title .container-page-header-title .page-header-links p .btn {
  margin: 0;
}
.content-page-header .container-page-header .content-page-header-image .container-page-header-image {
  width: 100%;
}
.content-page-header .container-page-header .content-page-header-image .container-page-header-image picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.content-page-header-2 {
  border-bottom: 1px solid #EFEFEF;
}
.content-page-header-2 .container-page-header-2 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.content-page-header-2 .container-page-header-2 .content-page-header-title .container-page-header-title h1 {
  color: #26232A;
  margin: 0;
  line-height: 150%;
}
.content-page-header-2 .container-page-header-2 .content-page-header-title .container-page-header-title h1 a {
  color: #5E5F63;
}
.content-page-header-2 .container-page-header-2 .content-page-header-title .container-page-header-title h1 span {
  font-size: 21px;
}

@media (min-width: 992px) {
  .content-page-header .container-page-header .content-page-header-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .content-page-header .container-page-header .content-page-header-title .container-page-header-title {
    margin: 0px;
  }
  .content-page-header .container-page-header .content-page-header-title .container-page-header-title h1 span {
    font-size: 24px;
  }
  .content-page-header .container-page-header .content-page-header-title .container-page-header-title .page-header-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 25px;
  }
  .content-page-header-2 .container-page-header-2 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .content-page-header-2 .container-page-header-2 .content-page-header-title .container-page-header-title h1 span {
    font-size: 24px;
  }
}
@media (min-width: 1367px) {
  .content-page-header .container-page-header .content-page-header-title {
    max-width: 1200px;
  }
  .content-page-header .container-page-header .content-page-header-title .container-page-header-title h1 {
    font-size: 42px;
  }
  .content-page-header .container-page-header .content-page-header-title .container-page-header-title h1 span {
    font-size: 26px;
  }
  .content-page-header-2 .container-page-header-2 {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .content-page-header-2 .container-page-header-2 .content-page-header-title .container-page-header-title h1 span {
    font-size: 24px;
  }
}
@media (min-width: 1921px) {
  .content-page-header .container-page-header .content-page-header-title .container-page-header-title h1 {
    font-size: 42px;
  }
  .content-page-header .container-page-header .content-page-header-title .container-page-header-title h1 span {
    font-size: 26px;
  }
  .content-page-header .container-page-header .content-page-header-image .container-page-header-image {
    height: 700px;
  }
  .content-page-header-2 .container-page-header-2 {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .content-page-header-2 .container-page-header-2 .content-page-header-title .container-page-header-title h1 span {
    font-size: 24px;
  }
}
section .content-image-text .container-image-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 25px;
}
section .content-image-text .container-image-info .content-image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
section .content-image-text .container-image-info .content-image img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top center;
     object-position: top center;
  width: 100%;
}
section .content-image-text .container-image-info .content-info {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
section .content-image-text .container-image-info .content-info .container-info h2 {
  margin-top: 0;
}

@media (min-width: 992px) {
  section .content-image-text {
    padding: 0px 100px 0px 100px;
  }
  section .content-image-text .container-image-info {
    -ms-grid-columns: 0.7fr 90px 1fr;
    grid-template-columns: 0.7fr 1fr;
    grid-gap: 90px;
  }
  section .content-image-text .container-image-info .content-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  section .content-image-text .container-image-info .content-info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
section .content-section-title-subtitle .container-section-title-subtitle {
  margin-bottom: 15px;
  text-align: center;
}
section .content-section-title-subtitle .container-section-title-subtitle h2 {
  margin-top: 0;
  margin-bottom: 10px;
}
section .content-section-title-subtitle .container-section-title-subtitle p {
  max-width: 800px;
  margin: 0 auto;
}

section .content-cards-with-image-and-text {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #F8F7FC;
}
section .content-cards-with-image-and-text .container-cards-with-image-and-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  margin-top: 25px;
}
section .content-cards-with-image-and-text .container-cards-with-image-and-text .content-card-item:hover {
  -webkit-box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.05);
}
section .content-cards-with-image-and-text .container-cards-with-image-and-text .content-card-item {
  padding: 25px;
  border-radius: 15px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  background: #fff;
  -webkit-box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.05);
}
section .content-cards-with-image-and-text .container-cards-with-image-and-text .content-card-item .container-card-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
section .content-cards-with-image-and-text .container-cards-with-image-and-text .content-card-item .container-card-item h3, section .content-cards-with-image-and-text .container-cards-with-image-and-text .content-card-item .container-card-item p {
  text-align: center;
}
@media (min-width: 992px) {
  section .content-cards-with-image-and-text {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  section .content-cards-with-image-and-text .container-cards-with-image-and-text {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 50px 1fr 50px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin-top: 45px;
  }
  section .content-cards-with-image-and-text .container-cards-with-image-and-text .content-card-item {
    padding: 3rem;
  }
  section .content-cards-with-image-and-text .container-cards-with-image-and-text .content-card-item .container-card-item img {
    height: 300px;
  }
}
section .content-cards-with-image-and-text-2 .content-section-title-subtitle {
  text-align: left;
}
section .content-cards-with-image-and-text-2 .container-cards-with-image-and-text-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  margin-top: 25px;
}
section .content-cards-with-image-and-text-2 .container-cards-with-image-and-text-2 .content-card-item .container-card-item .content-image {
  overflow: hidden;
  height: 250px;
}
section .content-cards-with-image-and-text-2 .container-cards-with-image-and-text-2 .content-card-item .container-card-item .content-image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
section .content-cards-with-image-and-text-2 .container-cards-with-image-and-text-2 .content-card-item .container-card-item .content-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
section .content-cards-with-image-and-text-2 .container-cards-with-image-and-text-2 .content-card-item .container-card-item .box-text {
  border-radius: 15px;
  padding: 15px;
  width: 80%;
  margin: 0 auto;
  -webkit-box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.05);
}
section .content-cards-with-image-and-text-2 .container-cards-with-image-and-text-2 .content-card-item .container-card-item .box-text h3, section .content-cards-with-image-and-text-2 .container-cards-with-image-and-text-2 .content-card-item .container-card-item .box-text p {
  text-align: left;
  margin: 0;
}

@media (min-width: 768px) {
  section .content-cards-with-image-and-text-2 .container-cards-with-image-and-text-2 {
    -ms-grid-columns: 1fr 50px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin-top: 45px;
  }
  section .content-cards-with-image-and-text-2 .container-cards-with-image-and-text-2 .content-card-item .container-card-item .content-image {
    height: 350px;
  }
  section .content-cards-with-image-and-text-2 .container-cards-with-image-and-text-2 .content-card-item .container-card-item .box-text {
    padding: 35px;
  }
  section .content-cards-with-image-and-text-2 .container-cards-with-image-and-text-2 .content-card-item .container-card-item .box-text h3 {
    min-height: 95px;
  }
}
@media (min-width: 992px) {
  section .content-cards-with-image-and-text-2 .container-cards-with-image-and-text-2 .content-card-item .container-card-item .content-image {
    height: 450px;
  }
}
section .content-title-and-text-with-bg {
  padding: 55px;
  background: #F8F7FC;
}
section .content-title-and-text-with-bg .container-title-and-text-with-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
}
section .content-title-and-text-with-bg .container-title-and-text-with-bg h2 {
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 992px) {
  section .content-title-and-text-with-bg {
    padding: 25px;
  }
  section .content-title-and-text-with-bg .container-title-and-text-with-bg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 330px;
    gap: 15px;
  }
  section .content-title-and-text-with-bg .container-title-and-text-with-bg h2 {
    margin-bottom: 10px;
  }
  section .content-title-and-text-with-bg .container-title-and-text-with-bg p {
    max-width: 800px;
    margin: 0 auto;
  }
}
section .content-list-icons-with-image .container-list-icons-with-image {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}
section .content-list-icons-with-image .container-list-icons-with-image .content-list .container-list .content-item .container-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  margin-bottom: 25px;
}
section .content-list-icons-with-image .container-list-icons-with-image .content-list .container-list .content-item .container-item .icon p {
  font-size: 35px;
}
section .content-list-icons-with-image .container-list-icons-with-image .content-list .container-list .content-item .container-item .icon p i {
  color: #235778;
}
section .content-list-icons-with-image .container-list-icons-with-image .content-list .container-list .content-item .container-item .text p {
  margin-bottom: 0;
}
section .content-list-icons-with-image .container-list-icons-with-image .content-list .container-list .content-item .container-item .text p a {
  color: #5E5F63;
}
section .content-list-icons-with-image .container-list-icons-with-image .content-image .container-image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 500px;
  width: 100%;
}

@media (min-width: 768px) {
  section .content-list-icons-with-image .container-list-icons-with-image {
    -ms-grid-columns: 0.5fr 25px 1fr;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 25px;
  }
  section .content-list-icons-with-image .container-list-icons-with-image .content-list .container-list .content-item .container-item {
    gap: 40px;
    margin-bottom: 45px;
  }
  section .content-list-icons-with-image .container-list-icons-with-image .content-list .container-list .content-item .container-item .icon p {
    font-size: 55px;
  }
  section .content-list-icons-with-image .container-list-icons-with-image .content-image .container-image img {
    height: 400px;
  }
}
@media (min-width: 992px) {
  section .content-list-icons-with-image .container-list-icons-with-image .content-image .container-image img {
    height: 500px;
  }
}